*{
  font-family: "Oxygen", sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: #F2F2F2;
}

.header-container{
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-color: white;
}

.logo img{
  height: 48px;
}

.search-bar input{
  border: none;
  width: 640px;
  height: 18px;
  padding: 20px 37px;
  background-color: #F2F2F2;
  font-size: 15px;
  border-radius: 20px;
  outline: none ;
}

.s-icon{
  position: absolute;
  z-index: 1;
  top: 35px;
  left: 376px;
}

.s-bar{
  position: relative;
}

.search-bar input::placeholder{
  border: none;
}

.options{
  align-items:end;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
}

.option-img img{
  height: 33px;
  margin-left: 16px;
  border: 2px solid #d4bbbb;
  border-radius: 50%;
  cursor: pointer;
}

.options i{
  background-color: #F2F2F2;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  margin-left: 18px;
}

/* ----------------------------------------------
------------left side option style---------------
-----------------------------------------------*/

.header-column-style{
  display: flex;
}

.left-side-option-bar {
  padding: 30px 60px;
  display: flex;
  font-size: 20px;
}

.option-icons i{
  display: block;
  margin-bottom: 18px;
  text-align: center;
  margin-right: 15px;
  font-size: 15px;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  height: 16px;
  width: 16px;
}

.option-column p{
  position: relative;
  font-weight:550;
  margin-bottom: 29px;
  align-items: center;
}

.option-column p:hover{
 cursor: pointer;
}

/*---------------------------
------post bar styling-------
---------------------------*/

.post-bar{
  padding: 15px 20px;
  background-color: white;
  width: 450px;
  border-radius: 10px;
  height: 100px;
  margin: 20px 155px;
  align-items: center;
}

.post-bar hr{
  width: 440px;
  margin: 11px 0;
  border: 1px solid #F3F5F7;
}

.post-now input{
  border: none;
  width: 350px;
  padding: 10px 20px;
  background-color: #F2F2F2;
  outline: none;
  border-radius: 20px;
}

.profile-img-posting{
  align-items: center;
  display: flex;
}

.profile-img-posting img{
  height: 47px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-option {
  width: 400px;
  display: flex;
}

.post-option-items{
  display: flex;
  margin-right: 35px;
  margin-top: 0;
  width: 520px;
  cursor: pointer;
  padding: 4px;
  transition: 0.5s;
}

.post-option-items:hover{
  background-color: #F3F5F7;
  padding: 4px;
  border-radius: 4px;
  
}

.post-option-items p{
  width: 57px;
  font-weight:600;
}

.post-option i{
  margin-top: 2px;
  margin-right: 6px;
}

/* --------------------
--see more section---
------------------*/

.see-more{
  position: absolute;
  top: 505px;
  left: 90px;
}

.see-more h6{
  margin-left: 2px;
}

.my-group{
  position: absolute;
  top: 555px;
}

.my-group p{
  font-weight:550;
  align-items: center;
  margin-bottom: 20px;
}

.group-items{
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.group-items img{
  height: 32px;
  border-radius: 50%;
  margin-right: 10px;
}

.group-items h6{
  font-size: 15px;
  font-weight: 600;
}